---
const { photos } = Astro.props;
let startingURL = Astro.url.href;
if (Astro.url.href[Astro.url.href.length-1] !== '/'){
	startingURL = startingURL + '/';
}
---

<main>
	<div class="navigation">
		{photos.length > 5 ? <button id="prev">&lArr;</button> : "" }
	</div>
	<section id="photos-section" data-photos={JSON.stringify(photos)}>
		{photos.map((photo, index) =>(
			index < 5 ? <div class="photo-container"><div class="photo"><a href={startingURL + photo.filename}><img src={photo.url} alt={photo.altText} /></a></div></div> : ""
		))}
	</section>
	<div class="navigation">
		{photos.length > 5 ? <button id="next">&rArr;</button> : "" }
	</div>
</main>


<script>
	import { galleryInit } from '../scripts/gallery.js';

	galleryInit();
</script>

<style is:inline>
	main {
		display: flex;
	}
	.navigation {
		align-self: center;
		text-align: center;
		width: 100px;
	}
	.photo-container {
		border-radius: 15px;
		margin: 3px;
		max-height: 90vh;
		overflow: hidden;
	}
	.photo-container:focus-within {
		border: 7px black solid;
		border-radius: 22px;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		overflow: clip;
		border-radius: 15px;
	}
	#photos-section {
		/* background-color: green; */
		display: grid;
		width: 100%;
		height: 100%;
		grid-template-rows: 1fr 1fr 1fr 1fr;
	    grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	section:has(.photo-container) {
		grid-template-areas:
    "one one one one"
    "one one one one"
    "one one one one"
    "one one one one";
	}
	section:has(.photo-container + .photo-container) {
		grid-template-areas:
    "two two one one"
    "two two one one"
    "two two one one"
    "two two one one";

	}
	section:has(.photo-container + .photo-container + .photo-container) {
		grid-template-areas:
    "two two one one"
    "two two one one"
    "three three one one"
    "three three one one";
	}
	section:has(.photo-container + .photo-container + .photo-container + .photo-container) {
		grid-template-areas:
    "two two one one"
    "two two one one"
    "three four one one"
    "three four one one";
	}
	section:has(.photo-container + .photo-container + .photo-container + .photo-container + .photo-container) {
		grid-template-areas:
    "two two one one"
    "two two one one"
    "three five one one"
    "three four one one";
	}

	.photo {
		width: 100%;
		height: 100%;
	}
	.photo-container {
		opacity:0;
	}

	.photo-container:nth-child(1) {
		grid-area: one;
		animation: 3s ease 0s normal forwards 1 fadein;
	}

	.photo-container:nth-child(2) {
		grid-area: two;
		animation: 3s ease 1s normal forwards 1 fadein;
	}

	.photo-container:nth-child(3) {
		grid-area: three;
		animation: 3s ease 2s normal forwards 1 fadein;
	}

	.photo-container:nth-child(4) {
		grid-area: four;
		animation: 3s ease 3s normal forwards 1 fadein;
	}

	.photo-container:nth-child(5) {
		max-height:25vh;
		grid-area: five;
		animation: 3s ease 4s normal forwards 1 fadein;
	}

	.photo-container.transition {
		opacity: 1;
	}

	.photo-container.transition:nth-child(1) {
		grid-area: one;
		animation: none;

	}

	.photo-container.transition:nth-child(2) {
		grid-area: two;
		animation: none;
	}

	.photo-container.transition:nth-child(3) {
		grid-area: three;
		animation: none;
	}

	.photo-container.transition:nth-child(4) {
		grid-area: four;
		animation: none;
	}

	.photo-container.transition:nth-child(5) {
		max-height:25vh;
		grid-area: five;
		animation: none;
	}

	@keyframes fadein{
        0% { opacity:0; }
        100% { opacity:1; }
    }

    @-webkit-keyframes fadein{
        0% { opacity:0; }
        100% { opacity:1; }
    }

    button {
        cursor: pointer;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        font-size: 25px;
    }
</style>