---
let groupedEvents;
let groupedKeys = [];
let groupedValues = [];
let siteURL = Astro.url.origin;

function groupBy(objectArray, property) {
  return objectArray.reduce((acc, obj) => {
    const key = obj[property];
    const curGroup = acc[key] ?? [];

    return { ...acc, [key]: [...curGroup, obj] };
  }, {});
}

const response = await fetch(siteURL+"/.netlify/functions/get_events")
const data = await response.json();
groupedEvents = groupBy(data, "group");
groupedKeys = Object.keys(groupedEvents).sort();
groupedValues = Object.values(groupedEvents).sort();

// Based on MDN demo:https://developer.mozilla.org/en-US/docs/Web/CSS/position#sticky_positioning
---

<dl>
	{groupedKeys.map((keyLetter,index) => (
		<div>
			<dt>{keyLetter}</dt>
			{groupedValues[index].map((eventData) => (
				<dd><a href={Astro.url+"/"+eventData.slug}>{eventData.title}</a></dd>
			))}
		</div>
	))}
</dl>

<style>
	* {
		box-sizing: border-box;
	}

	dl {
		max-width: 1000px;
		margin: auto;
	}

	dl > div {
		background: #fff;
		padding: 24px 0 0 0;
	}

	dt {
		background: #000000;
		border-bottom: 1px solid #989ea4;
		border-top: 1px solid #717d85;
		color: #fff;
		font: bold 18px/21px Helvetica, Arial, sans-serif;
		margin: 0;
		padding: 2px 0 0 12px;
		position: -webkit-sticky;
		position: sticky;
		top: -1px;
	}

	dd {
		font: bold 20px/45px Helvetica, Arial, sans-serif;
		margin: 0;
		padding: 0 0 0 12px;
		white-space: nowrap;
	}

	dd + dd {
		border-top: 1px solid #ccc;
	}
</style>
