---
import Layout from '../../../layouts/Layout.astro';
import Gallery from '../../../components/Gallery.astro';

const { event } = Astro.params;
let siteURL = Astro.url.origin;
let photos;

try {
    const response = await fetch(siteURL+"/.netlify/functions/get_event?slug="+event);
    photos = await response.json();
    if(photos.error.status && photos.error.status === 404){
        return Astro.redirect('./');
    }
} catch(error){
    console.error("Error getting event info: ", error);
}

---
<Layout photo={photos[photos.length-1]}>
	<main>
		{photos.length === 0 ? <div id="empty">no photos yet.</div> : <Gallery photos={photos}/>}
	</main>
</Layout>

<style>
	main {
		margin: auto;
		width: 100%;
	    max-width: 1000px;
		height: calc( 100vh - 75px - 50px );
	}
	#empty {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
	}
</style>