---
import Layout from '../../../layouts/Layout.astro';
import Gallery from '../../../components/Gallery.astro';

const { event } = Astro.params;
let siteURL = Astro.url.origin;
console.log("Astro.url: ", Astro.url);

const response = await fetch(siteURL+"/.netlify/functions/get_event?slug="+event);
const photos = await response.json();
console.log("data: ", photos);

---
<Layout photo={photos[photos.length-1]}>
	<main>
		<Gallery photos={photos}/>
	</main>
</Layout>

<style>
    section {
        max-width: 1000px;
        margin: auto;
    }
</style>